<div class="custom-tables">
    <div class="last-appointments">
        <div class="heading">
            <h2>La Liste des Eleves</h2>
            <a routerLink="/create-student" class="custom-btn">Add</a>
        </div>
        <table class="appointments">
            <thead>
                <td>nom complet</td>
                <td>Jour</td>
                <td>Mois</td>
                <td>Année</td>
                <td>Sexe</td>
                <td>Niveau Etude</td>
                <td>Email</td>
                <td>Téléphone</td>
            </thead>
            <tbody>
                <tr *ngFor="let student of students | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                    <td>{{ student.nomStudent }} {{ student.prenomStudent }}</td>
                        <td>{{ student.seledJour }}</td>
                        <td>{{ student.seledMois }}</td>
                        <td>{{ student.seledAnnee }}</td>
                        <td>{{ student.sexeStudent }}</td>
                        <td>{{ student.niveauEtudeStudent }}</td>
                        <td>{{ student.emailStudent }}</td>
                        <td>{{ student.telephoneStudent }}</td>
                        <td>
                            <button><i class="far fa-eye "></i></button>
                            <button (click)="updateStudent(student.id)"><i class="far fa-edit" ></i></button>
                            <button (click)="deleteStudent(student.id)"><i class="far fa-trash-alt"></i></button>
                        </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <!-- Ajoutez les boutons de pagination ici -->
            <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
        </div>
    </div>
</div>