.background {
    background-image: url('src\assets\848d2c9200279708acc5a0713cfb36dd.jpg');
    background-size: cover;
    background-position: center;
  }

  .container {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .photo-frame {
    width: 150px;
    height: 150px;
    background-image: url('src\assets\formulaire.png');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 20px;
  }

.my-form {
    
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto; /* Centre le formulaire horizontalement */
    max-width: 600px; /* Définit une largeur maximale pour le formulaire */
  }
  
  .my-form input,
  .my-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .my-form button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  .my-form button:hover {
    background-color: #45a049;
  }
  
  /* Ajoutez d'autres styles selon vos besoins */
  