<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="background">
    <div class="container">
      <h1 class="title">Formulaire d'Inscription</h1>
      <div class="photo-frame"></div>
      <form (ngSubmit)="submitForm()" class="my-form">
        <div class="row">
          <div class="col-md-6">
            <label for="nom">Nom:</label>
            <input type="text" [(ngModel)]="nom" name="nom" class="form-control">
          </div>
          <div class="col-md-6">
            <label for="prenom">Prénom:</label>
            <input type="text" [(ngModel)]="prenom" name="prenom" class="form-control">
          </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Mois</label>
                <select class="form-control" [(ngModel)]="selectedMois" name="mois">
                <option *ngFor="let mois of mois" [value]="mois">{{ mois }}</option>
                </select>
            </div>
            
            <div class="form-group col-md-4">
                <label>Jour</label>
                <select class="form-control" [(ngModel)]="selectedJour" name="jour">
                <option *ngFor="let jour of jours" [value]="jour">{{ jour }}</option>
                </select>
            </div>
            
            <div class="form-group col-md-4 ">
                <label>Année</label>
                <select class="form-control" [(ngModel)]="selectedAnnee" name="annee">
                <option *ngFor="let annee of annees" [value]="annee">{{ annee }}</option>
                </select>
            </div>          
        </div>
        <label>Sexe</label>
        <select [(ngModel)]="sexe" name="sexe">
          <option value="Homme">Homme</option>
          <option value="Femme">Femme</option>
        </select>
      
        <label>Niveau d'Étude</label>
        <select class="form-control" [(ngModel)]="niveauEtude" name="niveauEtude">
            <option value="Licence 1">Licence 1</option>
            <option value="Licence 2">Licence 2</option>
            <option value="Licence 3">Licence 3</option>
            <option value="Master 1">Master 1</option>
            <option value="Master 2">Master 2</option>
            <option value="Doctorat">Doctorat</option>
          </select>
          
        <div class="form-row">
            <div class="form-group col-md-6">
              <label>Email</label>
              <input type="email" class="form-control" required [(ngModel)]="email" name="email" placeholder="Enter your email address" >
            </div>
          
            <div class="form-group col-md-6">
              <label>Téléphone</label>
              <input type="tel" class="form-control" [(ngModel)]="telephone" name="telephone" required>
            </div>
        </div>   
        <button type="submit">Envoyer</button>
      </form>
    </div>
</div>
